/*--- 2. Font Family ---*/

$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
// Theme 
$current-theme: #FFFFFF;

/*--- Colors variable ---*/
$primary-clr: #92D013;
$secondary-clr: #020017;
$text-clr: #565E6A;
$white-clr: #FFFFFF;
$bg-clr: #f9f9fc;
$active-clr: #ffb400;